services:
  postgres:
    container_name: postgres
    image: postgres:15-alpine 
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB:-nestdb}
    ports: 
      - 5433:5432
    volumes: 
      - postgres_data:/var/lib/postgresql/data
    networks:  
      - nestjs-course  

volumes: 
  postgres_data:

networks: 
  nestjs-course: